<div *ngIf="solutions.length === 0">
  <br><br><br><br><br><br><br><br>
  <h1 style="font-size: 20px; text-align: center;">
    {{ 'There are currently no solutions for this exercise' | translate }}
  </h1>
</div>

<div *ngFor="let solution of solutions; let i = index">
  <app-solution playerName="{{solution.playerName}}"
                [comments]="solution.commentList"
                exerciseCode="{{testingCode}}"
                editedCode="{{solution.refactoredCode}}"
                [solutionId]=solution.solutionId
                creationTimestamp="{{solution.creationTimestamp}}"
                [upVotes]=solution.upVotes
                [downVotes]=solution.downVotes
                [score]="solution.score"
                [refactoringResult]="solution.refactoringResult"
                [smells] = "solution.smells"
                [isAutoValutative] = "this.isAutoValutative">
  </app-solution>
</div>
