.learning-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.learning-box {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  padding: 40px;
  max-width: 1200px;
  width: 95%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.learning-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #222;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.learning-content {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin: 20px auto;
  padding: 20px;
}


.learning-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learning-link:hover {
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
}
