.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: linear-gradient(135deg, #f44336, #e57373); /* Colore rosso per fallimento */
  color: white;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  animation: fadeIn 0.3s ease-out;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.message {
  font-size: 18px;
  margin-bottom: 20px;
}

.close-button {
  background: #ffffff;
  color: #f44336; /* Colore rosso per il pulsante */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.close-button:hover {
  background: #f1f1f1;
  color: #c62828; /* Rosso più scuro al passaggio del mouse */
  transform: scale(1.1);
}

/* Animazione */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.background {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute; /* no scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/images/failure_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  opacity: 0.25;
  z-index: -1;
  overflow: hidden;
}

