<div *ngIf="loadingError">
  <br><br><br><br><br><br><br><br>
  <h1 style="color: red; font-size: 20px; text-align: center;">{{ 'Error loading assignments' | translate }}</h1>
</div>

<div *ngIf="checkAssignmentPresence() === 0 && !loadingError">
  <br><br><br><br><br><br><br><br>
  <h1 style="font-size: 20px; text-align: center;">
    {{ 'There are currently no assignments you are participating in' | translate }}
  </h1>
</div>

<div *ngFor="let assignment of assignments">
  <div *ngIf="checkAssignmentPresence() > 0" style="border: 1px solid #ccc; border-radius: 8px; padding: 16px; margin-bottom: 16px;">
    <h2 style="font-size: 24px; margin-bottom: 8px;">{{ assignment.name }}</h2>
    <p style="font-size: 16px; color: #666; margin-bottom: 12px;"> {{ 'Date' | translate }}: {{ assignment.date }}</p>
    <p style="font-size: 16px; color: #666; margin-bottom: 12px;">{{ 'Type' | translate }}: {{ assignment.type | translate }}</p>

    <ul style="list-style-type: none; padding: 0;">
      <ng-container *ngFor="let student of assignment.students">
        <ng-container *ngIf="student.name === currentUser?.userName">
          <ng-container *ngIf="assignment.type === 'competitivo' && student.submitted === true">
            <li style="margin-bottom: 8px;">
              <span style="color: red;">{{ 'You have already completed the assignment' | translate }}</span>
            </li>
          </ng-container>
          <ng-container *ngIf="!(assignment.type === 'competitivo' && student.submitted === true)">
            <li *ngIf="isAssignmentActive(assignment.date, student.start, student.end)" style="margin-bottom: 8px;">
              <a [routerLink]="['/assignments', assignment.name, student.exercise]" style="text-decoration: none; color: #007bff;">
                {{ student.exercise }}
              </a>
              ({{ student.start }} - {{ student.end }})
            </li>
            <li *ngIf="!isAssignmentActive(assignment.date, student.start, student.end)" style="margin-bottom: 8px;">
              <span style="color: red;">{{ 'The assignment is unavailable' | translate }}</span>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>






