<div class="learning-page">
  <div class="learning-box">
    <div>
      <h1 class="learning-title">{{ title }}</h1>
      <p class="learning-content" [innerHTML]="formatContent(content)"></p>
      <a *ngIf="externalReference" href="{{externalReference}}" class="learning-link" target="_blank">
        {{ 'Vai alla risorsa esterna' | translate }}
      </a>
    </div>
    <div>
      <img class="knight-image" src="assets/images/learning_page.png" alt="Mission Complete" />
    </div>
  </div>
</div>
