<div class="container">
  <div class="assignment-header">
    <h1>{{ assignmentName }}</h1>
    <div *ngIf="assignment && assignment.students && assignment.students.length > 0">
      <p>
        <strong style="color: #B22222;">{{ 'End time' | translate }}</strong>: <strong style="color: #B22222;">{{ this.currentStudent.endDate }} {{this.currentStudent.endTime}}</strong>
      </p>
    </div>

  </div>
  <div class="note" style="margin-top: 20px;">
    <p>{{ 'If you don\'t finish by the end time, the assignment will be failed' | translate }}</p>
  </div>
  <hr>

  <div *ngIf="this.compileType != 1 && this.compileType != 2" class="alert alert-danger" role="alert">
    {{ 'You need to set Compile Mode in Settings' | translate }}
  </div>

  <div *ngIf="compileType == 1" style="color: green; margin-top: 10px;">
    <h3>{{ 'You are using Local Compile Mode' | translate }}</h3>
  </div>
  <div *ngIf="compileType == 2" style="color: green; margin-top: 10px;">
    <h3>{{ 'You are using Cloud Compile Mode' | translate }}</h3>
  </div>

  <div *ngIf="currentUser && assignment">
    <div *ngIf="assignment!.gameType === 'refactoring'">
      <div class="container">
        <h1>{{exerciseName}}</h1>
        <div *ngIf="serverError === undefined; else error" class="row">
          <div class="row" *ngIf="refactoringService.exerciseConfiguration">
            <div class="col">
              <app-refactoring-editor-card #code [editorHeader]="exerciseName+'.java'" [injectedCode]="refactoringService.userCode" [editable]="false"
                                           [progressBarMode]="refactoringService.progressBarMode">
              </app-refactoring-editor-card>
            </div>

            <mat-divider></mat-divider>

            <div class="col" style="padding-top: 20px">
              <app-refactoring-editor-card #testing [editorHeader]="exerciseName+'Test.java'" [injectedCode]="refactoringService.testingCode"
                                           [progressBarMode]="refactoringService.progressBarMode">
              </app-refactoring-editor-card>
            </div>

            <mat-divider></mat-divider>

            <div style="margin-top: 20px">
              <button style="margin: 10px" type="button" class="btn btn-primary" (click)="compile()" [disabled]="refactoringService.progressBarMode == 'query'">{{ 'Compile' | translate }}</button>
              <button style="margin: 10px" type="button" class="btn btn-primary" [disabled]="submitIsDisabled()" (click)="submitRefactoringAssignment()">{{ 'Finish' | translate }}</button>
            </div>

            <mat-divider></mat-divider>

            <div class="col" style="margin-top: 20px">
              <app-refactoring-editor-card #output [editorHeader]="'Shell'" [injectedCode]="refactoringService.shellCode" [editable]="false"
                                           [progressBarMode]="refactoringService.progressBarMode">
              </app-refactoring-editor-card>
            </div>

            <app-refactoring-compilation-results></app-refactoring-compilation-results>

            <div *ngIf="refactoringService.exerciseIsCompiledSuccessfully">
              <app-refactoring-score
                [score]="Math.abs(refactoringService.smellNumber - refactoringService.exerciseConfiguration.refactoringGameConfiguration.smellsAllowed)"
                [smellNumber]="refactoringService.smellNumber"
                [refactoringResult]="refactoringService.refactoringResult"
                [originalCoverage]="refactoringService.originalCoverage"
                [refactoredCoverage]="refactoringService.refactoredCoverage"
                [smellNumberWarning]="refactoringService.smellNumberWarning"
                [exerciseConfiguration]="refactoringService.exerciseConfiguration"
              ></app-refactoring-score>

              <app-refactoring-smell-list
                [smellList]="refactoringService.smellList"
                [smellDescriptions]="refactoringService.smellDescriptions"
                [methodList]="refactoringService.methodList"
              ></app-refactoring-smell-list>
            </div>

            <button type="button" class="btn btn-primary" routerLink="/assignment/leaderboard/{{exerciseName}}">{{ 'Solution Repository' | translate }}</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="assignment!.gameType === 'check-smell' && checkSmellService.exerciseConfiguration">
      <div class="container">
        <h1>{{exerciseName}}</h1>
        <div *ngIf="serverError === undefined; else error">
          <div *ngIf="checkSmellService.exerciseConfiguration">
            <div *ngIf="!checkSmellService.exerciseCompleted else showResult" class="card">

              <app-check-smell-question #testing [editorHeader]="exerciseName+'.java'" [injectedCode]="checkSmellService.questions[checkSmellService.actualQuestionNumber].questionCode" [editable]="false">
              </app-check-smell-question>

              <app-check-smell-answer-list [questionAnswers]="checkSmellService.questions[checkSmellService.actualQuestionNumber].answers">
              </app-check-smell-answer-list>

              <div>
                <button style="margin: 10px" class="btn btn-primary" *ngIf="checkSmellService.actualQuestionNumber !== 0" (click)="checkSmellService.goBackward()">{{ 'Back' | translate }}</button>
                <button style="margin: 10px" class="btn btn-primary" *ngIf="checkSmellService.actualQuestionNumber < checkSmellService.questions.length - 1" (click)="checkSmellService.goForward()">{{ 'Next' | translate }}</button>
                <button style="margin: 10px" *ngIf="checkSmellService.renderResultsButton()" class="btn btn-primary" (click)="this.submitExercise()">{{ 'Submit' | translate }}</button>
              </div>

            </div>
          </div>
        </div>

        <ng-template #showResult>
          <h1>{{ 'Score' | translate }}: {{Math.round((checkSmellService.score * 100) / checkSmellService.assignmentScore) + '/100'}}</h1>
          <div *ngFor="let question of checkSmellService.questions" class="card">

            <app-check-smell-question [injectedCode]="question.questionCode">
            </app-check-smell-question>

            <app-check-smell-answer-list [questionAnswers]="checkSmellService.questions[checkSmellService.actualQuestionNumber].answers"
                                         [showBackground]="true">
            </app-check-smell-answer-list>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<ng-template #error>
  <div *ngIf="serverError !== undefined">
    <app-error [title]="'Error loading assignment'" [error]="serverError" ></app-error>
  </div>
</ng-template>
