<h3>Smells : </h3>
<div *ngFor="let smell of smellList; let i = index">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <label style="margin-left:10px">{{smell}} : {{this.methodList[i].length}}</label>
        <mat-icon style="margin-left: 10px; font-size: 12px" matTooltip="{{smellDescriptions[getSmellNumber(smell)].smellDescription}}">info</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ul class="list-group">
      <li *ngFor="let method of methodList[i]" style="margin-left:40px" class="list-group-item">{{method}}</li>
    </ul>

  </mat-expansion-panel>

</div>
