<div class="mission-list">
  <h1>{{ "Available Missions" | translate }}</h1>
  <!--
  <div class="mission-description background">
    <p>A mission is a structured sequence of activities designed to guide you through theoretical concepts and practical exercises. In a mission, you will encounter:</p>
    <ul>
      <li>✨ Explanatory screens that introduce key concepts such as test smells;</li>
      <li>🛠 Refactoring tasks to apply what you've learned;</li>
      <li>🔍 Detection tasks to test your understanding.</li>
    </ul>
    <p>You can complete each mission only once, but don't worry—every step can be retried until you master it. Your progress is saved, so you can pause and resume anytime from where you left off. Think of it as a journey where you unlock knowledge step by step while earning rewards!</p>
  </div>
  -->

  <div *ngIf="serverError !== undefined; else checkIfMissions">
    <app-error [title]="'Error loading missions'" [error]="serverError"></app-error>
  </div>

  <ng-template #checkIfMissions>
    <div *ngIf="missions">
      <div *ngIf="missions.length === 0; else renderList">
        <br><br><br><br><br><br><br><br>
        <h1 style="font-size: 20px; text-align: center;">
          {{ "No missions available" | translate }}
        </h1>
      </div>
    </div>
  </ng-template>

  <ng-template #renderList>

    <div *ngIf="missions && userMissionsStatus">
      <div *ngFor="let tag of getMissionTags()" class="mission-tag-group">
        <h2>{{ tag }}</h2>
        <div *ngFor="let mission of getMissionsByTag(tag)" class="mission-card background" [ngClass]="{ 'mission-locked': !isMissionUnlocked(mission), 'mission-unlocked': isMissionUnlocked(mission), 'mission-completed': isMissionCompleted(mission) }">
          <div class="mission-info">
            <h2>{{ mission.name }}</h2>
            <p>{{ "Achievement" | translate }}: <strong>{{ mission.badge }}</strong></p>
            <app-mission-progress [progress]="getMissionProgress(mission)"></app-mission-progress>
            <div *ngIf="!isMissionUnlocked(mission)" class="unlock-requirements">
              <p>{{ "Unlock after completing" | translate }}:</p>
              <ul>
                <li *ngFor="let requiredMission of mission.unlockAfter">{{ getMissionNameById(requiredMission) }}</li>
              </ul>
            </div>
          </div>
          <button
            class="btn-start"
            [ngClass]="{ 'btn-disabled': !isMissionUnlocked(mission) || isMissionCompleted(mission), 'btn-active': isMissionUnlocked(mission) && !isMissionCompleted(mission) }"
            [disabled]="!isMissionUnlocked(mission) || isMissionCompleted(mission)"
            [routerLink]="isMissionUnlocked(mission) && !isMissionCompleted(mission) ? ['/missions', mission.id] : null"
          >
            {{ isMissionCompleted(mission) ? "Completed" : "Go to mission" | translate }}
          </button>
        </div>
      </div>

      <div *ngIf="getMissionsWithoutTag().length > 0" class="mission-tag-group">
        <h2>{{ 'Other Missions' | translate }}</h2>
        <div *ngFor="let mission of getMissionsWithoutTag()" class="mission-card" [ngClass]="{ 'mission-locked': !isMissionUnlocked(mission), 'mission-unlocked': isMissionUnlocked(mission), 'mission-completed': isMissionCompleted(mission) }">
          <div class="mission-info">
            <h2>{{ mission.name }}</h2>
            <p>{{ "Achievement" | translate }}: <strong>{{ mission.badge }}</strong></p>
            <app-mission-progress [progress]="getMissionProgress(mission)"></app-mission-progress>
            <div *ngIf="!isMissionUnlocked(mission)" class="unlock-requirements">
              <p>{{ "Unlock after completing" | translate }}:</p>
              <ul>
                <li *ngFor="let requiredMission of mission.unlockAfter">{{ getMissionNameById(requiredMission) }}</li>
              </ul>
            </div>
          </div>
          <button
            class="btn-start"
            [ngClass]="{ 'btn-disabled': !isMissionUnlocked(mission) || isMissionCompleted(mission), 'btn-active': isMissionUnlocked(mission) && !isMissionCompleted(mission) }"
            [disabled]="!isMissionUnlocked(mission) || isMissionCompleted(mission)"
            [routerLink]="isMissionUnlocked(mission) && !isMissionCompleted(mission) ? ['/missions', mission.id] : null"
          >
            {{ isMissionCompleted(mission) ? "Completed" : "Go to mission" | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
