<div *ngIf="isCheckSmellRoute; else refactoringSolution">
  <div *ngIf="checkSmellStatistics">
    <div *ngIf="checkSmellStatistics.length === 0">
      <br><br><br><br><br><br><br><br>
      <h1 style="font-size: 20px; text-align: center;">
        {{ 'There are currently no solutions for this exercise' | translate }}
      </h1>
    </div>

    <app-check-smell-solution [checkSmellStatistics]="checkSmellStatistics">

    </app-check-smell-solution>
  </div>
</div>

<ng-template #refactoringSolution>
  <div *ngIf="refactoringSolutions">
    <div *ngIf="refactoringSolutions.length === 0">
      <br><br><br><br><br><br><br><br>
      <h1 style="font-size: 20px; text-align: center;">
        {{ 'There are currently no solutions for this exercise' | translate }}
      </h1>
    </div>

    <div *ngFor="let refactoringSolution of refactoringSolutions; let i = index">
      <app-solution playerName="{{refactoringSolution.playerName}}"
                    [comments]="refactoringSolution.commentList"
                    exerciseCode="{{testingCode}}"
                    editedCode="{{refactoringSolution.refactoredCode}}"
                    [solutionId]=refactoringSolution.solutionId
                    creationTimestamp="{{refactoringSolution.creationTimestamp}}"
                    [upVotes]=refactoringSolution.upVotes
                    [downVotes]=refactoringSolution.downVotes
                    [score]="refactoringSolution.score"
                    [refactoringResult]="refactoringSolution.refactoringResult"
                    [smells] = "refactoringSolution.smells"
                    [isAutoValutative] = "this.isAutoValutative">
      </app-solution>
    </div>
  </div>
</ng-template>
