<div class="container">
  <h1>{{exerciseName}}</h1>
  <div>
    <div *ngIf="!exerciseCompleted else showResult" class="card">
      <div class="card-header">
        {{exerciseName}}.java
      </div>
      <div class="card-body">
        <h2>{{ 'Which is the smell present in the following method?' | translate }}</h2>
        <app-codeeditor #testing [injectedCode]="questions[actualQuestionNumber].questionCode" [editable]="false"></app-codeeditor>
      </div>
      <div class="card-footer">

        <div class="form-check">
          <ul class="list-group">
            <mat-selection-list [multiple]="true">

              <li *ngFor="let option of questions[actualQuestionNumber].answers" class="list-group-item">
                <mat-checkbox #checkbox
                              (click)="selectAnswer(option)"
                              (change)="changeCheckbox(checkbox)"
                              [checked]="this.option.isChecked">
                  {{option.answerText}}
                </mat-checkbox>
              </li>
            </mat-selection-list>
          </ul>
        </div>

      </div>
      <div>
        <button class="btn btn-primary" *ngIf="this.actualQuestionNumber !== 0" (click)="goBackward()">{{ 'Back' | translate }}</button>
        <button class="btn btn-primary" *ngIf="this.actualQuestionNumber < this.questions.length - 1" (click)="goForward()">{{ 'Next' | translate }}</button>
      </div>
      <button *ngIf="renderResultsButton()" class="btn btn-primary" (click)="submitExercise()">{{ 'Results' | translate }}</button>
    </div>
  </div>

  <ng-template #showResult>
    <h1>{{ 'Score' | translate }}: {{this.score}}</h1>
    <div *ngFor="let question of questions" class="card">
      <div class="card-body">
        <h2>{{ 'Which is the smell present in the following method?' | translate }}</h2>
        <app-codeeditor #testing [injectedCode]="question.questionCode" [editable]="false"></app-codeeditor>
      </div>
      <div class="card-footer">

        <div class="form-check">
          <ul class="list-group">
            <mat-selection-list [multiple]="false">

              <li *ngFor="let option of question.answers" class="list-group-item">
                <div style="background-color: green" *ngIf="option.isCorrect">
                  <mat-checkbox
                    [checked]="this.option.isChecked"
                    disabled>
                    {{option.answerText}}
                  </mat-checkbox>

                </div>
                <div style="background-color: red" *ngIf="!option.isCorrect">
                  <mat-checkbox
                    [checked]="this.option.isChecked"
                    disabled>
                    {{option.answerText}}
                  </mat-checkbox>

                </div>

              </li>
            </mat-selection-list>
          </ul>
        </div>


      </div>
    </div>
  </ng-template>

</div>

