<app-refactoring-core [exerciseName]="exerciseName"
                      #code [userCode]="userCode"
                      [progressBarMode]="progressBarMode"
                      #testing [testingCode]="testingCode"
                      #output [shellCode]="shellCode"
                      [exerciseSuccess]="exerciseSuccess"
                      [refactoringWarning]="refactoringWarning"
                      [smellNumber]="smellNumber"
                      [refactoringResult]="refactoringResult"
                      [originalCoverage]="originalCoverage"
                      [refactoredCoverage]="refactoredCoverage"
                      [smellNumberWarning]="smellNumberWarning"
                      [exerciseConfiguration]="exerciseConfiguration"
                      [smellList]="smellList"
                      [methodList]="methodList"
                      [smellDescriptions]="smellDescriptions"
                      [solutionRepoRoute]="solutionRepoRoute"
                      [compileCode]="compile"
                      [submitExercise]="publishSolutionToLeaderboard"
                      [submitIsEnabled]="submitIsEnabled"
                      [finishButtonText]="'Save in solution repository'"
                      [endButtonText]="'Solution Repository'"
                      />
