<div class="main-container">
  <!-- Profile Container -->
  <div class="profile-container" *ngIf="user && config && userScore">
    <div class="user-info">
      <h1 class="user-name">{{ user.userName }}</h1>
      <p class="user-email">{{ user.email }}</p>
      <p class="user-level">{{ 'Level' | translate }} : {{ userLevel }}</p>
      <p class="user-exp">{{ 'Experience points' | translate }} : {{ user.exp }}</p>
      <div class="badges">
        <div *ngFor="let badge of config.badgeValues">
          <img *ngIf="user.exp >= badge.points" [src]="environment.exerciseServiceUrl+'/files/badges/'+badge.filename" alt="{{ badge.name }}" style="width: 70px; height: 70px; margin: 5px;" title="{{ badge.description }}">
        </div>
        <div *ngFor="let mission of missionConfigurations">
          <img *ngIf="isMissionCompleted(mission)" [src]="environment.exerciseServiceUrl+'/files/badges/'+mission.badgeFilename" alt="{{ mission.badge }}" style="width: 70px; height: 70px; margin: 5px;" title="{{ 'Badge obtained after completing' | translate }} {{ 'the mission' }} {{ mission.name }}">
        </div>
      </div>
    </div>

    <!-- Progress Box Section -->
    <div class="progress-box">
      <h2>{{ 'Progress to next badge' | translate }}</h2>
      <p *ngIf="nextBadge()">
        {{ 'You need' | translate }}
        <strong>{{ nextBadge()!.pointsRequired - user.exp }}</strong>
        {{ 'more points to achieve the' | translate }}
        <strong>{{ nextBadge()!.name }}</strong>
        {{ 'badge' | translate }}.
      </p>
      <p *ngIf="nextBadge() === null">{{ 'You have unlocked all the badges, awesome!' | translate }}</p>
      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.width.%]="getProgressPercentage()"
          [title]="getProgressPercentage() + '%'">
        </div>
      </div>
    </div>

    <div *ngIf="config" class="progress-box">
      <h2>{{ 'Progress to next level' | translate }}</h2>
      <p *ngIf="nextLevelExpRequired() !== -1">
        {{ 'You need' | translate }}
        <strong>{{ nextLevelExpRequired() - user.exp }}</strong>
        {{ 'more experience points to level up' | translate }}.
      </p>
      <p *ngIf="nextLevelExpRequired() === -1">{{ 'You have reached the maximum level, awesome!' | translate }}</p>
      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.width.%]="getProgressPercentage()"
          [title]="getProgressPercentage() + '%'">
        </div>
      </div>
    </div>
  </div>

  <!-- Leaderboard Section -->
  <div *ngIf="userScore" class="leaderboard-container">
    <!-- User Score Section -->
    <div class="user-score">
      <h1 class="leaderboard-title">🏆 {{ 'User Score' | translate }}</h1>
      <div class="score-card">
        <div class="score-item">
          <span class="score-icon">🔧</span>
          <p>{{ 'Refactoring Score' | translate }}: <strong>{{ userScore.refactoringScore }}</strong></p>
        </div>
        <div class="score-item">
          <span class="score-icon">👃</span>
          <p>{{ 'Check Smell Score' | translate }}: <strong>{{ userScore.checkSmellScore }}</strong></p>
        </div>
        <div class="score-item">
          <span class="score-icon">🚀</span>
          <p>{{ 'Missions Score' | translate }}: <strong>{{ userScore.missionsScore }}</strong></p>
        </div>
      </div>
    </div>

    <!-- Rank Section -->
    <div class="user-ranking">
      <!-- <h1 class="leaderboard-title">📈 {{ 'User ranking' | translate }}</h1> -->

      <!-- Game Mode Ranking -->
      <div class="ranking-section">
        <h3 class="ranking-subtitle">🎮 {{ 'Game mode rankings' | translate }}</h3>
        <ul class="ranking-list" *ngIf="userRank?.gameModeRankings && Object.keys(userRank.gameModeRankings).length > 0">
          <li *ngFor="let mode of userRank.gameModeRankings | keyvalue" class="ranking-item">
            <span class="ranking-key">{{ mode.key }}</span>
            <span class="ranking-value">{{ mode.value }}{{'° position'}}</span>
          </li>
        </ul>
      </div>

      <!-- Refactoring Exercise Ranking -->
      <div class="ranking-section">
        <h3 class="ranking-subtitle">🔨 {{ 'Refactoring exercise rankings' | translate }}</h3>
        <ul class="ranking-list" *ngIf="userRank?.refactoringExerciseRankings && Object.keys(userRank.refactoringExerciseRankings).length > 0; else renderNoRank">
          <li *ngFor="let exercise of userRank.refactoringExerciseRankings | keyvalue" class="ranking-item">
            <span class="ranking-key">{{ exercise.key }}</span>
            <span class="ranking-value">{{ exercise.value }}{{'° position' | translate }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Podium Section -->
  <div *ngIf="topGameModeUsers" class="top-ranking-section">
    <h3 class="ranking-subtitle">{{ 'Game Mode Podium' | translate }}</h3>
    <app-podium [topUsers]="topGameModeUsers"></app-podium>

    <div style="margin-bottom: 20px"></div>

    <h3 class="ranking-subtitle">{{ 'Refactoring Exercise Podium' | translate }}</h3>
    <div *ngIf="topRefactoringUsers && Object.keys(topRefactoringUsers).length > 0; else renderNoPodium">
      <app-podium [topUsers]="topRefactoringUsers"></app-podium>
    </div>
  </div>

  <ng-template #renderNoRank>
    {{ 'You have yet to complete a refactoring type exercise' | translate }}
  </ng-template>

  <ng-template #renderNoPodium>
    {{ 'No user has yet completed a refactoring exercise' | translate }}
  </ng-template>

</div>



