<h1>Check Smell Game Mode</h1>

<mat-spinner *ngIf="waitingForServer"></mat-spinner>

<div class="alert alert-success" role="alert">
  {{ 'You are actually using Cloud Retrieve mode' | translate }}
</div>

<div *ngIf="serverError !== undefined; else renderList">
  <app-error [title]="'Error loading check-smell exercises'" [error]="serverError" ></app-error>
</div>

<ng-template #renderList>
  <div *ngIf="config">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of exercises; let i = index">
        <a [routerLink]="(isExerciseEnabled(item.checkGameConfiguration.level)) ? '/check-game/' + item.exerciseId : null"
           [style.textDecoration]="isExerciseEnabled(item.checkGameConfiguration.level) ? 'none' : 'line-through'"
           [style.pointerEvents]="isExerciseEnabled(item.checkGameConfiguration.level) ? 'auto' : 'none'"
           [style.color]="isExerciseEnabled(item.checkGameConfiguration.level) ? 'blue' : 'red'">
          {{ item.exerciseId }}
          <span>{{'⭐'.repeat(item.checkGameConfiguration.level)}}</span>
        </a>
      </li>
    </ul>
  </div>
</ng-template>

