<div class="card-footer">
  <div class="form-check">
    <ul class="list-group">
      <mat-selection-list [multiple]="true">

        <li *ngFor="let option of questionAnswers" class="list-group-item">
          <div [ngStyle]="{'background-color': showBackground ? (option.correct ? 'rgba(50, 205, 50, 0.8)' : 'rgba(255, 99, 71, 0.8)') : ''}">
          <mat-checkbox #checkbox
                          (click)="selectAnswer(option)"
                          (change)="changeCheckbox(checkbox)"
                          [checked]="this.option.isChecked"
                          [disabled]="disabled">
              <span [ngStyle]="{'color': 'black'}">{{option.answerText}}</span>
            </mat-checkbox>
          </div>
        </li>
      </mat-selection-list>
    </ul>
  </div>
</div>
